.choose_card_wrapper {
    position: fixed;
    z-index: 10001;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}

.button_close {
    position: fixed;
    z-index: 10001;
    right: 505px;
    top: 20px;

    @media (max-width: 767px) {
        width: 36px;
        height: 36px;
        left: auto;
        right: 270px;
        top: 15px;
    }
}