.footer {
    position: relative;
    width: 100%;
    color: $white-00;
    background-color: $gray-100;

    h3 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }
}

.nav {
    padding: 40px 80px;
    display: flex;
    max-width: 1440px;
    margin: 0 auto;

    @media (max-width: 1023px) {
        display: block;
        padding: 40px 24px;
        margin: 0;
    }


}

.infoWrapper {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    width: 100%;

    @media (max-width: 1023px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 40px 0;
    }

    @media (max-width: 767px) {
        padding: 30px 0;
        justify-content: center;
    }
}

.logoWrapper {
    margin-right: 69px;

    @media (max-width: 1023px) {
        width: 100%;
    }
}

.footerLogo {
    width: 235.9px;
    height: 70px;

    @media (max-width: 767px) {
        width: 168px;
        height: 50px;
    }
}

.list {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 1023px) {
        margin-bottom: 40px;
    }

    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.listWithPersonalAreaLink {
    @media (max-width: 1023px) {
        margin-bottom: 0;
    }

    @media (max-width: 767px) {
        margin-bottom: 0;
    }
}

.products,
.info,
.contacts {
    width: 33%;

    @media (max-width: 1023px) {
        width: 50%;
    }

    @media (max-width: 767px) {
        width: 290px;
    }
}

.info {
    @media (max-width: 1023px) {
        margin-bottom: 40px;
    }

    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}

.item {
    margin-bottom: 15px;
    color: $gray-30;

    a {
        color: $gray-30;
    }
}

.addressItem {
    margin-bottom: 0;
}

.addressList {
    margin-bottom: 15px;
}

.infoItem {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    
    a {
        color: $white-00;
    }
}

.products {
    @media (max-width: 767px) {
        a {
            font-size: 14px;
            line-height: 20px;
        }
    }
}

.contacts {
    a[href^="tel:"] {
        text-decoration: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $gray-30;
    }
}

.politicsWrapper {
    background-color: $gray-70;
    padding: 20px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    a {
        color: $white-00;
        text-decoration: none;
    }

    @media (max-width: 1023px) {
        padding: 20px 83px 20px 24px;
    }

    @media (max-width: 767px) {
        font-size: 12px;
        line-height: 18px;
        display: flex;
        flex-wrap: wrap;
        padding: 15px 19px;
    }
}

.ourPolitics {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 95px 0 80px;

    @media (max-width: 1023px) {
        padding: 0;
    }
    
    @media (max-width: 767px) {
        flex-wrap: wrap;
        margin: 0;
     }
}

.ourPoliticsItem {
    @media (max-width: 767px) {
       width: 100%;
       margin-bottom: 5px;

       &:last-child {
        margin-bottom: 0;
       }
    }
}

.buttonEnter,
.personalAreaLink {
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: $white-00;

    &:hover {
        background-color: inherit;
    }

    span {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
    }
}

.personalAreaLink {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}