.chooseCard {
    width: 500px;
    height: 100vh;
    background-color: $white-00;
    position: fixed;
    z-index: 10000;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;

    @media (max-width: 767px) {
        width: 320px;
    }
}

.image {
    width: 100%;
    height: 408px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;

    @media (max-width: 767px) {
        height: 261px;
    }
}

.calories {
    margin-bottom: 30px;
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.info {
    padding: 30px;

    h3 {
        font-weight: 600;
        font-size: 26px;
        line-height: 120%;
        margin-bottom: 10px;
    }
    
    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        margin-right: 30px;
    }

    h4 {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
    }

    @media (max-width: 767px) {
        padding: 20px;
        h3 {
            font-size: 22px;
        }
        
        span {
            font-size: 12px;
        }
    
        h4 {
            font-size: 14px;
        }
    }
}

.compound {
    margin-bottom: 30px;

    h4 {
        margin-bottom: 10px;
    }

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
    }
}

.ingredients {
    .ingredientsLabel {
        position: relative;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 5px;

        &::after {
            position: absolute;
            right: -290px;
            top: 42px;
            content: "";
            width: 20px;
            height: 20px;
            background-image: url("/public/images/arrow_down.svg");
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .sauceLabel {
        &::after {   
            right: -314px;
        }
    }

    .ingredients_select {
        width: 100%;
        background: $gray-10;
        border: 1px solid $gray-30;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 15px;
        appearance: none;
    }
}

.amountWrapper {
    padding: 20px 30px;
    background-color: $yellow-10;
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
        padding: 15px;
    }
}

.statusesWrapper {
    position: absolute;
    display: flex;
    top: 30px;
    left: 30px;
    right: 30px;

    @media (max-width: 767px) {
        left: auto;
        right: 15px;
        top: 20px;
    }
}

.cardStatus {
    margin-right: 5px;
}

.selectWrapper {
    height: 71px;
}