.header {
    position: relative;
    width: 100%;
    color: $gray-100;
}

.headerOpen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    flex-wrap: wrap;
    background-color: $yellow-10;
    padding: 85px 15px 15px;
}
