.basketCardWrapper {
    width: 100%;
    border-radius: 10px;
    background-color: $white-00;
    margin-bottom: 5px;
}

.basketCard {
    display: flex;
    width: 100%;
    padding: 10px;

    .productImage {
        width: 120px;
        height: 100px;
        border-radius: 8px;
    }
}

.amount {
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
    }
}

.counterWrapper {
    padding: 12px;
}

.trashButton {
    padding: 0;
    width: 24px;
    height: 24px;
}

.descriptionWrapper {
    width: 55%;
    margin-left: 15px;

    h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        margin-bottom: 10px;
        margin-top: 6px;
    }

    p {
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: $gray-70;
    }
}

.trashWrapper {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}