.default {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    background: $gray-10;
    border-radius: 25px;
    border: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: pointer;
    color: $gray-100;

    &:hover {
        background-color: $gray-30;
    }

    &:active {
        background-color: $gray-10;
    }

    &:disabled {
        @include button_disabled;
    }

    @media (max-width: 1023px) {
        padding: 8px 15px;
    }

    @media (max-width: 767px) {
        padding: 8px;
        margin-left: 0;
    }
}

.image_inside {
    margin-right: 5px;
}

.yellow {
    background: $yellow-100;

    &:hover {
        background-color: $yellow-30;
    }

    &:active {
        background-color: $yellow-100;
    }

    &:disabled {
        @include button_disabled;
    }
}

.blue {
    background: $blue-100;
    color: $white-00;

    &:hover {
        background-color: $blue-30;
    }

    &:active {
        background-color: $blue-100;
    }

    &:disabled {
        @include button_disabled;
    }
}

.white {
    background: $white-00;
    color: $gray-100;

    &:hover {
        background-color: $gray-20;
    }

    &:active {
        background-color: $gray-30;
    }

    &:disabled {
        @include button_disabled;
    }
}

.back {
    position: relative;
    padding: 10px;
    width: 44px;
    height: 44px;
    background: $gray-10;
    border-radius: 25px;

    &:hover {
        background-color: $gray-10;
    }

    &:active {
        background-color: $gray-10;
    }

    &:disabled {
        background-color: $gray-10;
    }

    &::before {
        position: absolute;
        content: "";
        width: 12px;
        height: 2px;
        transform: rotate(45deg);
        background-color: $gray-100;
        bottom: 17px;
        left: 15px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 12px;
        height: 2px;
        transform: rotate(-45deg);
        background-color: $gray-100;
        top: 18px;
        left: 15px;
    }
}

.forward {
    position: relative;
    padding: 10px;
    width: 44px;
    height: 44px;
    background: $gray-10;
    border-radius: 25px;

    &:hover {
        background-color: $gray-10;
    }

    &:active {
        background-color: $gray-10;
    }

    &:disabled {
        background-color: $gray-10;
    }

    &::before {
        position: absolute;
        content: "";
        width: 12px;
        height: 2px;
        transform: rotate(-45deg);
        background-color: $gray-100;
        bottom: 17px;
        left: 17px;
    }

    &::after {
        position: absolute;
        content: "";
        width: 12px;
        height: 2px;
        transform: rotate(45deg);
        background-color: $gray-100;
        top: 18px;
        left: 17px;
    }
}

.default_white {
    background: $white-00;
}

.button__text_wrapper {
    @media (max-width: 767px) {
        display: none;
    }
}

.button__image {
    width: 20px;
    height: 20px;
}
