.payment {
    @include basketBlockWrapper;
}

.blockWrapper {
    padding: 10px;
}

.headerWrapper {
    @include basketBlockHeader;
}

p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $gray-70;

    @media (max-width: 767px) {
        font-size: 12px;
        line-height: 18px;
    }
}

hr {
    width: 100%;
    border: 1px solid $gray-10;
}

.cardData {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.userName {
    width: 100%;
    margin-bottom: 15px;
}

.validityWrapper {
    width: 65%;
}

.cardValidity {
    width: 100%;
}

.cvcWrapper {
    width: 32%;
}

.cardCvc {
    width: 100%;
}

.agreement {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    span {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $gray-70;
        margin-left: 10px;
    }
    
    @media (max-width: 767px) {
        span {
            font-size: 12px;
            line-height: 18px;
        }
    }
}

.agreementCheckbox {
    @media (max-width: 767px) {
        width: 24px;
    }
}

.courier {
    @include checkboxBlock;
}