.products_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 80px 60px;

    @media (max-width: 1023px) {
        padding: 0;
    }
}

.card {
    margin: 10px;
}

.title {
    width: 100%;
    max-width: 1440px;
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    margin: 0 20px;
    margin-bottom: 30px;

    @media (max-width: 767px) {
        font-size: 26px;
        margin-bottom: 15px;
    }
}