@import "../../../../index.scss";

.Input {
    min-width: 420px;
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: $gray-30;
    background: $gray-10;
    border: 1px solid $gray-30;
    border-radius: 10px;
}

.inputWrapper {
    width: 420px;
    display: flex;
    flex-wrap: wrap;
}

.labelInput {
    position: relative;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: $gray-100;

    &::after {
        position: absolute;
        content: "*";
        color: $red-100;
        right: -12px;
    }
}