.status_marker {
    padding: 3px 8px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    border-radius: 13px;
    color: $white-00;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;

    @media (max-width: 767px) {
        padding: 2px 5px;
        font-size: 10px;
        line-height: 12px;
    }
}

.green {
    background: $green-100;
}

.blue {
    background: $blue-100;
}

.purple {
    background: $purpul-100;
}

.yellow {
    background: $yellow-100;
}

.gray {
    background: $gray-10;
    color: $gray-70;
}