.constructor_page_wrapper {
  h2 {
    position: relative;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;

    @media (max-width: 767px) {
      font-size: 32px;
      line-height: 120%;
    }
  }
}

.blue_header {
  color: $blue-100;
}

.yellow_header {
  color: $yellow-100;
}

.arrow_wrapper {
  width: 85vw;
}

.arrow {
  position: absolute;
  bottom: -55px;
  background-image: url("/public/images/desktop_constructor_arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 85vw;
  height: 78px;

  @media (max-width: 1023px) {
    background-image: url("/public/images/tablet_constructor_arrow.png");
  }

  @media (max-width: 768px) {
    background-image: url("/public/images/mobile_constructor_arrow.png");
  }
}

.constructor_inner {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.withoutMargin {
  margin-bottom: 0;
}

.mobile_gap {
  @media (max-width: 767px) {
    display: none;
  }
}

.mobile_gap_on {
  display: none;

  @media (max-width: 767px) {
    display: inline;
  }
}