.BlockWrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  h2 {
    position: relative;
    font-style: italic;

    @media (max-width: 767px) {
      font-size: 32px;
      line-height: 120%;
    }
  }
}

.blueTextHeader {
  color: $blue-100;
  @include constructorHeaderText;
}

.yellowTextHeader {
  color: $yellow-100;
  background-color: white;
  @include constructorHeaderText;
}

.arrow {
  position: absolute;
  bottom: -55px;
  left: 44px;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  width: 90%;
  height: 78px;

  @media (max-width: 768px) {
    width: 88vw;
    left: 8px;
  }
}

.constructorInner {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.withoutMargin {
  margin-bottom: 0;
}

.mobileGap {
  @media (max-width: 767px) {
    display: none;
  }
}

.mobileGapOn {
  display: none;

  @media (max-width: 767px) {
    display: inline;
  }
}
