.constructor_page_wrapper {
  h2 {
    position: relative;
    font-style: italic;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
  }
}

.blue_header {
  color: $blue-100;
}

.yellow_header {
  color: $yellow-100;
}

.arrow {
  position: absolute;
  top: 25px;
  right: 86px;
  width: 91%;
}

.constructor_inner {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
}

.withoutMargin {
  margin-bottom: 0;
}
