.delivery_wrapper {
    margin-bottom: 30px;
}

.delivery {
    @include basket_block_wrapper;
}

.delivery_header_wrapper {
    @include basket_block_header;
}

.delivery_checkbox_label {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: $gray-70;
}

hr {
    width: 100%;
    border: 1px solid $gray-10;
}

.delivery_address {
    width: 100%;
}

.pickup_of_goods {
  @include checkbox_block;
}