.wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    height: 100vh;
    background-color: $gray-10;
    display: flex;
    flex-direction: column;
    overflow: scroll;

    @media (max-width: 767px) {
        width: 320px;
    }
}

.info {
    flex-grow: 1;
    padding: 30px;

    h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        margin-bottom: 15px;
    }

    @media (max-width: 767px) {
        padding: 15px;
    }
}

.basket_summ {
    background-color: $white-00;
    padding: 30px;
}

.buttonToOrderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $yellow-10;
    padding: 20px 30px 30px;
}

.buttonToOrder {
    padding: 18px;
    width: 100%;
    justify-content: center;

    @media (max-width: 767px) {
        padding: 8px;
    }
}
