.wrapper {
  background: $gray-10;
  border-radius: 10px;
  padding: 30px;
  display: flex;
}

.header_wrapper {
  width: 25.5%;
  margin-right: auto;

  span {
    font-weight: 600;
    font-size: 64px;
    line-height: 72px;
    color: $yellow-100;
    margin-right: 10px;
  }
}

.hide {
  display: none;
}

.header {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  margin-top: 23px;
}

.description {
  margin-top: 13px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: $gray-70;
}

.content_wrapper {
  width: 75.5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.content {
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
  align-self: center;
}

.checkbox_wrapper_column {
  display: flex;
  align-items: center;
}

.content_header_wrapper {
  width: 100%;
  margin-bottom: 15px;
}

.contentHeader {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
}

.howMuchIsLeft {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: $green-100;
}