.recipient {
    margin-bottom: 30px;
}
.recipient_data_wrapper {
    width: 100%;
    padding: 15px;
    background-color: $white-00;
}

.user_name,
.user_phone {
    min-width: auto;
    width: 100%;
    margin-bottom: 20px;
}
