.header {
    width: 100%;
    min-height: 200px;
}

.header__order_data_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 80px 20px;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-left: 40px;
    margin-right: 40px;

    p {
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: $gray-70;
    }
    
    .header__select {
        border: none;
    }

    .header__info {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $gray-100;
    }

    a[href^="tel:"] {
        text-decoration: none;
    }
}

.header__button_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.header__button_basket_wrapper {
    position: relative;

    .header__amount_items {
        position: absolute;
        right: 0;
        top: 0;
    }
}