.header {
    width: 100%;
    min-height: 200px;
}

.header__order_data_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 80px 20px;
}

.header__info_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.header__logo {
    margin-right: 40px;
}

.header__item {
    margin: 0 1.4vw;

    a[href^="tel:"] {
        text-decoration: none;
    }
}

.header__button_wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
}

.header__button_basket_wrapper {
    position: relative;

    .header__amount_items {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.header__nav_wrapper {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 80px;
    background-color: $yellow-10;
}

.header__nav_wrapper_scroll {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header__vertical_line {
    width: 1px;
    height: 24px;
    background-color: $yellow-100;
    margin-right: 20px;
}

.header__products_list {
    display: flex;
    flex-wrap: wrap;
}

.header__products_item {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-right: 20px;
}

.header__button_create_poke_wrapper {
    margin-left: auto;
}
