.counter {
    font-family: "Nunito", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    padding: 2px 6px;
    background: $blue-100;
    color: $white-00;
    border-radius: 10px;
    -moz-user-select: none;
    user-select: none;
}
