.about_company {
    display: flex;
    padding: 80px;
    background-color: $gray-10;

    @media (max-width: 1023px) {
        flex-wrap: wrap;
        padding: 60px 24px;
    }

    @media (max-width: 767px) {
        padding: 40px 15px;
    }
}

.images_wrapper {
    width: 58%;
    height: 500px;
    background-image: url("/public/images/about_company.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 1023px) {
        width: 100%;
    }

    @media (max-width: 767px) {
        background-image: url("/public/images/about_company_mobile.png");
    }
}

.description {
    width: 42%;
    height: 500px;
    padding: 80px 0;

    h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 120%;
        margin-bottom: 30px;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 40px;
    }

    .logo_wrapper {
        background-image: url("/public/images/more_fish_white_logo.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 38vw;
        height: 5vw;
    }

    
    @media (max-width: 1023px) {
        width: 100%;
        height: auto;

        p {
            margin-bottom: 30px;
        }

        .logo_wrapper {
            width: 68vw;
            height: 9vw;
        }
    }

    @media (max-width: 767px) {
        padding: 30px 0;
        h3 {
            font-size: 26px;
            line-height: 120%;
        }

        p {
            font-size: 14px;
        }

        .logo_wrapper {
            display: none;
        }
    }
}
