.wrapper {
    background: #F6F6F6;
}

.description {
    position: relative;
    max-width: 1440px;
    height: 520px;
    margin: 0 auto;
    overflow: hidden;
    background-color: $green-30;

    @media (max-width: 1023px) {
        height: 400px;
    }

    @media (max-width: 767px) {
        height: 200px;
    }
}

.nextArrow {
    position: absolute;
    right: 20px;
    z-index: 1000;
    top: 44%;
    transform: translate(0, 50%);
}

.prevArrow {
    position: absolute;
    left: 20px;
    z-index: 1000;
    top: 44%;
    transform: translate(0, 50%);
}

.description :global(div.slick-slider) {
    height: 541px;

    @media (max-width: 1023px) {
        height: 400px;
    }

    @media (max-width: 767px) {
        height: 200px;
    }
}
