.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body {
  flex-grow: 1;
  display: flex;
  justify-content: center;

  @media (max-width: 767px) {
    img {
      width: 320px;
      height: 200px;
    }
  }
}