$gray-100:                     #414042;
$gray-70:                      #808285;
$gray-30:                      #CCD2E3;
$gray-10:                      #F6F6F6;
$white-00:                     #FFFFFF;
$red-100:                      #FF003D;
$blue-100:                     #31688F;
$blue-30:                      #235273;
$yellow-100:                   #FFD600;
$yellow-30:                    #FFB800;
$yellow-10:                    #FFF5E1;
$green-100:                    #0DB9BB;
$purpul-100:                   #C028CD;

@mixin button_disabled {
  color: $gray-30;
  background: $gray-10;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }