$gray-100:                     #414042;
$gray-30:                      #CCD2E3;
$gray-10:                      #F6F6F6;
$white-00:                     #FFFFFF;
$red-100:                      #FF003D;
$blue-100:                     #31688F;