.basketSummWrapper {
    width: 100%;
    background-color: $white-00;
    padding: 30px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 767px) {
        padding: 20px;
    }
}

.inputWrapper {
    width: 100%;
    color: $gray-30;
}

.text,
.cost {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: $gray-70;

    @media (max-width: 767px) {
        font-size: 14px;
    }
}

.cost {
    color: $gray-100;
}

.productAmount {
    @include basketSummTextTemplate;
}

.costOfDelivery {
    @include basketSummTextTemplate;
}

.basketSumm {
    @include basketSummTextTemplate;

    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    color: $gray-100;

    @media (max-width: 767px) {
        font-size: 16px;
    }
}

.orderComment {
    width: 100%;

    @media (max-width: 767px) {
        padding: 10px;
    }
}